/* PAGINA UBICACION */

.ubi {
    height: 600px;
    display: flex;
    flex-direction: column;
    background-color: #2b2c2c;
}

.ubi p {
    text-align: center;
    font-size: 25px;
    margin-top: 35px;
}

.ubi iframe {
    width: 600px;
    height: 450px;
    margin: auto;
}