/* FOOTER SECTION */

.footer {
    background-color: black;
    color: aliceblue;
}

.footer ul li a {
    color: aliceblue;
}

.footer-container {
    display: flex;
    padding: 20px
}

.footer-container h3 {
    margin-bottom: 15px;
}

.footer-nav {
    padding: 30px 90px 30px 20px;
}

.footer-container ul li {
    padding-bottom: 5px;
}

.footer-cont {
    padding: 30px 90px;
}

.footer-redes {
    padding: 30px 90px;
}

.footer-ubi {
    padding: 30px 20px;
}